<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
    <script type="text/javascript" async="" src="linkid.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="app/widgets/na_teamsports/carousel" src="index_data/carousel.js"></script><!-- base href="https://widgets.sports.gracenote.com/" -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title data-ng-bind="title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Cache-Control" content="no-transform">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none;
        }

        * {
            margin: 0;
            padding: 0;
        }
    </style>

    <script async="" src="analytics.js"></script><script>
        /**
         * parseQuery
         *
         * Parses the given query string (?key=value&key2=value2) variable and splits it up into an key/value array.
         *
         * @param qString
         * @returns {{}}
         */
        function parseQuery(qString) {
            var params = {};
            var pair;
            if ((qString.indexOf('?') > -1)) {
                qString = qString.substring(qString.indexOf('?') + 1).split('&');
                for (var i = qString.length - 1; i >= 0; i--) {
                    pair = qString[i].split('=');
                    params[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
                }
            }
            return params;
        }

        /**
         * serializeQuery
         *
         * Parses the given query string (?key=value&key2=value2) variable and splits it up into an key/value array.
         *
         * @param qObject
         * @returns {String}
         */
        function serializeQuery(qObject) {
            var string = [];
            for (var property in qObject) {
                if (qObject.hasOwnProperty(property)) {
                    string.push(encodeURIComponent(property) + "=" + encodeURIComponent(qObject[property]));
                }
            }
            return string.join("&");
        }
        // store pageQueryParams in a single variable
        var pageQueryParams =   parseQuery(location.search);

        /**
         * mergeQueryParams
         *
         * Merges parameters for a src file with params from the querystring of the page
         *
         * @param src
         * @returns src with new params from page
         */
		function mergeQueryParams(src) {
			var srcParams = parseQuery(src);

			if (pageQueryParams['c'] !== undefined && pageQueryParams['c'] !== "undefined") {
				srcParams['c'] = pageQueryParams['c'];
			}

			// Remove the query string from given src url
			if (src.indexOf('?') > -1) {
				src = src.substring(0, src.indexOf('?'));
			}
			var query = serializeQuery(srcParams);
			if (query != "") {
				// Append the new query string to it
				src = src + '?' + serializeQuery(srcParams);
			}
			return src;
		}

        /**
         * addScript
         *
         * Dynamically add a javascript file to the head
         *
         * @param src
         * @param callback
         */
		function addScript(src, callback) {
			// Append the new query string to it
			srcWithParams = mergeQueryParams(src);

			// Create the script tag and add it to the 'head'
			var s = document.createElement('script');
			s.setAttribute('src', srcWithParams);
			s.onload = callback;
			document.getElementsByTagName("head")[0].appendChild(s);
		}

        /**
         * addPreload
         *
         * Dynamically add a preload to the head of the page
         *
         * @param src
         * @param type the type of preload e.g. 'script'
         */
		function addPreload(src,type) {
			// Append the new query string to it
			srcWithParams = mergeQueryParams(src);

			// Create the link tag and add it to the 'head'
			//<link rel="preload" href="src" as="script">
			var s = document.createElement('link');
			s.setAttribute('href', srcWithParams);
			s.setAttribute('as', type);
			s.setAttribute('rel', 'preload');
			document.getElementsByTagName("head")[0].appendChild(s);
		}

		(function(scriptRoot,versionString) {
			var scriptUrlList = [
				"/assets/js/vendors.js?"+versionString,
				"/assets/js/vendors-custom.js?"+versionString,
				"/initialize.js"
			];

			// add preloads to prompt browser download
			for (var i in scriptUrlList) {
				addPreload(scriptRoot+scriptUrlList[i],"script");
			}

			//waterfall load the list of JS files
			function addScripts(num) {
				if (num<scriptUrlList.length) {
					addScript(scriptRoot+scriptUrlList[num],(function() {addScripts(num+1)}));
				}
			}
			addScripts(0);
		})("//widgets.sports.gracenote.com/latest","abb486cd768d7d1f50f3f85947b22dc6f15c3047");
    </script><link href="index_data/vendors.js" as="script" rel="preload"><link href="index_data/vendors-custom.js" as="script" rel="preload"><link href="index_data/initialize.js" as="script" rel="preload"><script src="index_data/vendors.js"></script>

<script src="index_data/vendors-custom.js"></script><script src="index_data/initialize.js"></script><link rel="preload" href="index_data/carousel.css" as="style"><link type="text/css" rel="stylesheet" href="index_data/index.css"><link type="text/css" rel="stylesheet" href="index_data/carousel.css"></head>
<body resize="">
<script>
    // location.hash since a hash has been placed in the src
    var params = parseQuery(location.hash);

    // hide google analytics
    if (params['hga'] !== 'yes') {
        /* Start Google Analytics */
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        var params = parseQuery(location.search);
        if (params['ga'] !== undefined) {
            ga('create', params['ga'], 'auto');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        }
        /* End Google Analytics */
    } else {
        function ga() {
            return false;
        }
    }
</script>
<!-- ngIf: vm.loading -->
<!-- class gns-container is deprecated since v1.5 -->
<div ngcloak="" id="maincontent" class="gns-container">
    <!-- ngView: undefined --><ng:view><div class="widget-wrapper" data-ng-class="vm.customClass">
    <!-- ngIf: vm.brandedHeader -->
    <div class="header-title" data-ng-class="{'back-button-present': vm.returnEnabled}">
        <h1>Carousel</h1>
    </div>
    <!-- ngIf: vm.fullHeight === false -->
    <!-- ngIf: vm.fullHeight === true --><div data-ng-if="vm.fullHeight === true">
        <!-- ngIf: !vm.loading --><!-- ngInclude:  --><section data-ng-include="" data-ng-if="!vm.loading" src="vm.carousel.sporttemplate"><!-- ngInclude: undefined --><ng-include src="&quot;_menu.html&quot;"><div class="scoreboard-date"></div>
<div class="logo"><a href="http://www.gracenote.com/sports/sports-data/" target="_blank"></a></div>
<div class="scoreboard-menu">
    <ul>

        <!-- ngRepeat: league  in vm.carousel.leagues --><!-- ngIf: vm.carousel.showLeague(league) --><li data-ng-if="vm.carousel.showLeague(league)" data-ng-repeat="league  in vm.carousel.leagues">
            <a href="" ng-click="vm.carousel.switchMenu(league)" data-ng-class="{'selected': vm.carousel.selectedLeague.leagueShortName === league}" class="selected">NBA</a>
        </li><!-- end ngIf: vm.carousel.showLeague(league) --><!-- end ngRepeat: league  in vm.carousel.leagues --><!-- ngIf: vm.carousel.showLeague(league) --><li data-ng-if="vm.carousel.showLeague(league)" data-ng-repeat="league  in vm.carousel.leagues">
            <a href="" ng-click="vm.carousel.switchMenu(league)" data-ng-class="{'selected': vm.carousel.selectedLeague.leagueShortName === league}">NHL</a>
        </li><!-- end ngIf: vm.carousel.showLeague(league) --><!-- end ngRepeat: league  in vm.carousel.leagues --><!-- ngIf: vm.carousel.showLeague(league) --><li data-ng-if="vm.carousel.showLeague(league)" data-ng-repeat="league  in vm.carousel.leagues">
            <a href="" ng-click="vm.carousel.switchMenu(league)" data-ng-class="{'selected': vm.carousel.selectedLeague.leagueShortName === league}">MLB</a>
        </li><!-- end ngIf: vm.carousel.showLeague(league) --><!-- end ngRepeat: league  in vm.carousel.leagues --><!-- ngIf: vm.carousel.showLeague(league) --><li data-ng-if="vm.carousel.showLeague(league)" data-ng-repeat="league  in vm.carousel.leagues">
            <a href="" ng-click="vm.carousel.switchMenu(league)" data-ng-class="{'selected': vm.carousel.selectedLeague.leagueShortName === league}">MLS</a>
        </li><!-- end ngIf: vm.carousel.showLeague(league) --><!-- end ngRepeat: league  in vm.carousel.leagues -->

    </ul>
</div></ng-include>

<script type="text/ng-template" id="horizontal_template">
    <carouselscroll>
        <div class="arrow-holder previous" id="previous-button"><span><a></a></span></div>
        <div class="arrow-holder next" id="next-button"><span> <a></a></span></div>
    </carouselscroll>

    <div class="carousel-holder">
        <div data-ng-class="'league-scoreboard panel {0}'.format(vm.carousel.selectedLeague.leagueShortName)" id="horizontal-panel-content">
            <div class="horizontal-renderer scorebox-holder-outer" ng-repeat="carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter ">
                <ng-include src='"carousel/index.html"'></ng-include>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="vertical_template">
    <carouselscroll>
        <div class="arrow-holder previous" id="scroll-up"><span><a></a></span></div>
        <div class="arrow-holder next" id="scroll-down"><span> <a></a></span></div>
    </carouselscroll>

    <div class="carousel-holder">
        <div data-ng-class="'league-scoreboard panel {0}'.format(vm.carousel.selectedLeague.leagueShortName)" id="vertical-panel-content">
            <div  ng-repeat="carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter ">
                <ng-include src='"carousel/index.html"'></ng-include>
            </div>
        </div>
    </div>

</script>


<!-- ngIf: vm.carousel.orientation === 0 -->
<!-- ngIf: vm.carousel.orientation > 0 --><!-- ngInclude: 'vertical_template' --><div class="vertical" data-ng-if="vm.carousel.orientation &gt; 0" data-ng-include="'vertical_template'">
    <carouselscroll>
        <div class="arrow-holder previous" id="scroll-up"><span><a></a></span></div>
        <div class="arrow-holder next" id="scroll-down"><span> <a></a></span></div>
    </carouselscroll>

    <div class="carousel-holder">
        <div data-ng-class="'league-scoreboard panel {0}'.format(vm.carousel.selectedLeague.leagueShortName)" id="vertical-panel-content" class="league-scoreboard panel nba">
            <!-- ngRepeat: carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter --><div ng-repeat="carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter ">
                <!-- ngInclude: undefined --><ng-include src="&quot;carousel/index.html&quot;"><!-- ngInclude:  --><section data-ng-include="" src="carousel.template"><div class="scorebox-holder">
    <div class="scorebox carousel-nba postgame">

            <!-- ngInclude: 'carousel/_carousel-postgame-headers.html' --><div data-ng-include="'carousel/_carousel-postgame-headers.html'"><!-- ngIf: vm.carousel.sportId === '/sport/hockey' -->

<!-- ngIf: vm.carousel.sportId === '/sport/baseball' -->

<!-- ngIf: vm.carousel.sportId === '/sport/basketball' --><div class="sub-header-block" data-ng-if="vm.carousel.sportId === '/sport/basketball'"> <span class="match-status">Final <!-- ngIf: carousel.match.state.overtime --><span data-ng-if="carousel.match.state.overtime">(OT)</span><!-- end ngIf: carousel.match.state.overtime --></span>
    <span class="match-date">Sun, May 7</span>
</div><!-- end ngIf: vm.carousel.sportId === '/sport/basketball' -->

<!-- ngIf: vm.carousel.sportId === '/sport/football' -->

<!-- ngIf: vm.carousel.sportId === '/sport/soccer' --></div>
        <div class="team-info">
            <table>
                <tbody>
                <!-- ngRepeat: alignment in carousel.alignments --><!-- ngInclude: 'team_renderer' --><tr data-ng-repeat="alignment in carousel.alignments" data-ng-include="'team_renderer'">
    <td class="teams club-logo-wrapper-medium" scope="row">
        <!-- ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo --><a data-ng-if="!vm.carousel.selectedLeague.hideTeamLogo &amp;&amp; carousel.teams[alignment].logo" href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="">
            <img data-ng-src="//images.sports.gracenote.com/basketball/nba/team/logos/60x60/404169.png" class="club-logo-medium" title="Boston Celtics" alt="Boston Celtics" src="index_data/404169.png">
        </a><!-- end ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo -->
        <!-- ngIf: carousel.teams.away.type == 'all-star' || carousel.teams.home.type == 'all-star' -->
        <!-- ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' --><span data-ng-if="carousel.teams.away.type != 'all-star' &amp;&amp; carousel.teams.home.type != 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="" data-ng-style="!carousel.teams[alignment].teamLinkObject &amp;&amp; {'cursor':'default'}">
                 <!-- ngIf: !carousel.teams[alignment].ranking --><abbr data-ng-if="!carousel.teams[alignment].ranking" title="Celtics"><span>BOS</span></abbr><!-- end ngIf: !carousel.teams[alignment].ranking -->
                 <!-- ngIf: carousel.teams[alignment].ranking -->
             </a>
         </span><!-- end ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' -->
    </td>
    <td class="record-score">
        115 <!--<span data-ng-if="carousel.match.state.shootout">({{carousel[alignment]['stats'][carousel.shootoutKey] || '0'}})</span>-->
    </td>
</tr><!-- end ngRepeat: alignment in carousel.alignments --><!-- ngInclude: 'team_renderer' --><tr data-ng-repeat="alignment in carousel.alignments" data-ng-include="'team_renderer'">
    <td class="teams club-logo-wrapper-medium" scope="row">
        <!-- ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo --><a data-ng-if="!vm.carousel.selectedLeague.hideTeamLogo &amp;&amp; carousel.teams[alignment].logo" href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="">
            <img data-ng-src="//images.sports.gracenote.com/basketball/nba/team/logos/60x60/404083.png" class="club-logo-medium" title="Philadelphia 76ers" alt="Philadelphia 76ers" src="index_data/404083.png">
        </a><!-- end ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo -->
        <!-- ngIf: carousel.teams.away.type == 'all-star' || carousel.teams.home.type == 'all-star' -->
        <!-- ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' --><span data-ng-if="carousel.teams.away.type != 'all-star' &amp;&amp; carousel.teams.home.type != 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="" data-ng-style="!carousel.teams[alignment].teamLinkObject &amp;&amp; {'cursor':'default'}">
                 <!-- ngIf: !carousel.teams[alignment].ranking --><abbr data-ng-if="!carousel.teams[alignment].ranking" title="76ers"><span>PHI</span></abbr><!-- end ngIf: !carousel.teams[alignment].ranking -->
                 <!-- ngIf: carousel.teams[alignment].ranking -->
             </a>
         </span><!-- end ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' -->
    </td>
    <td class="record-score">
        116 <!--<span data-ng-if="carousel.match.state.shootout">({{carousel[alignment]['stats'][carousel.shootoutKey] || '0'}})</span>-->
    </td>
</tr><!-- end ngRepeat: alignment in carousel.alignments -->
                <tr>
                    <td colspan="2" class="game-links" scope="row">
                        <ul>
                            <!-- ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showBoxscoreLink --><li data-ng-if="carousel.sportId != '/sport/soccer' &amp;&amp; carousel.options.showBoxscoreLink"><a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.matchLinkObject, carousel.boxscoreLinkFormat, target)" data-custom-click="">Box Score</a></li><!-- end ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showBoxscoreLink -->
                            <!-- ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showRecapLink --><li data-ng-if="carousel.sportId != '/sport/soccer' &amp;&amp; carousel.options.showRecapLink"><a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.matchLinkObject, carousel.recapLinkFormat, target)" data-custom-click="">Recap</a></li><!-- end ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showRecapLink -->
                            <!-- ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showPlayByPlayLink --><li data-ng-if="carousel.sportId != '/sport/soccer' &amp;&amp; carousel.options.showPlayByPlayLink"><a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.matchLinkObject, carousel.playByPlayLinkFormat, target)" data-custom-click="">Play by Play</a></li><!-- end ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showPlayByPlayLink -->
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="team_renderer">
    <td class="teams club-logo-wrapper-medium" scope="row">
        <a data-ng-if ="!vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo" href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click>
            <img data-ng-src="{{carousel.teams[alignment].logo}}" class="club-logo-medium"
                 title="{{carousel.teamNames[alignment].name}} {{carousel.teamNames[alignment].nickname}}"
                 alt="{{carousel.teamNames[alignment].name}} {{carousel.teamNames[alignment].nickname}}">
        </a>
        <span data-ng-if="carousel.teams.away.type == 'all-star' || carousel.teams.home.type == 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click data-ng-style="!carousel.teams[alignment].teamLinkObject && {'cursor':'default'}">
                 <abbr data-ng-if="!carousel.teams[alignment].ranking" title="{{carousel.teamNames[alignment].name}}"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
                 <abbr data-ng-if="carousel.teams[alignment].ranking" title="{{carousel.teamNames[alignment].name}} ({{carousel.teams[alignment].ranking}})"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
             </a>
         </span>
        <span data-ng-if="carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click data-ng-style="!carousel.teams[alignment].teamLinkObject && {'cursor':'default'}">
                 <abbr data-ng-if="!carousel.teams[alignment].ranking" title="{{carousel.sportId == '/sport/soccer' ? carousel.teamNames[alignment].shortName : carousel.teamNames[alignment].nickname}}"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
                 <abbr data-ng-if="carousel.teams[alignment].ranking" title="{{carousel.sportId == '/sport/soccer' ? carousel.teamNames[alignment].shortName : carousel.teamNames[alignment].nickname}} ({{carousel.teams[alignment].ranking}})"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
             </a>
         </span>
    </td>
    <td class="record-score">
        {{carousel.match[alignment + 'Result'] || '0'}} <!--<span data-ng-if="carousel.match.state.shootout">({{carousel[alignment]['stats'][carousel.shootoutKey] || '0'}})</span>-->
    </td>
</script>



</section>
</ng-include>
            </div><!-- end ngRepeat: carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter --><div ng-repeat="carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter ">
                <!-- ngInclude: undefined --><ng-include src="&quot;carousel/index.html&quot;"><!-- ngInclude:  --><section data-ng-include="" src="carousel.template"><div class="scorebox-holder">
    <div class="scorebox carousel-nba postgame">

            <!-- ngInclude: 'carousel/_carousel-postgame-headers.html' --><div data-ng-include="'carousel/_carousel-postgame-headers.html'"><!-- ngIf: vm.carousel.sportId === '/sport/hockey' -->

<!-- ngIf: vm.carousel.sportId === '/sport/baseball' -->

<!-- ngIf: vm.carousel.sportId === '/sport/basketball' --><div class="sub-header-block" data-ng-if="vm.carousel.sportId === '/sport/basketball'"> <span class="match-status">Final <!-- ngIf: carousel.match.state.overtime --></span>
    <span class="match-date">Sun, May 7</span>
</div><!-- end ngIf: vm.carousel.sportId === '/sport/basketball' -->

<!-- ngIf: vm.carousel.sportId === '/sport/football' -->

<!-- ngIf: vm.carousel.sportId === '/sport/soccer' --></div>
        <div class="team-info">
            <table>
                <tbody>
                <!-- ngRepeat: alignment in carousel.alignments --><!-- ngInclude: 'team_renderer' --><tr data-ng-repeat="alignment in carousel.alignments" data-ng-include="'team_renderer'">
    <td class="teams club-logo-wrapper-medium" scope="row">
        <!-- ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo --><a data-ng-if="!vm.carousel.selectedLeague.hideTeamLogo &amp;&amp; carousel.teams[alignment].logo" href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="">
            <img data-ng-src="//images.sports.gracenote.com/basketball/nba/team/logos/60x60/404065.png" class="club-logo-medium" title="Denver Nuggets" alt="Denver Nuggets" src="index_data/404065.png">
        </a><!-- end ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo -->
        <!-- ngIf: carousel.teams.away.type == 'all-star' || carousel.teams.home.type == 'all-star' -->
        <!-- ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' --><span data-ng-if="carousel.teams.away.type != 'all-star' &amp;&amp; carousel.teams.home.type != 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="" data-ng-style="!carousel.teams[alignment].teamLinkObject &amp;&amp; {'cursor':'default'}">
                 <!-- ngIf: !carousel.teams[alignment].ranking --><abbr data-ng-if="!carousel.teams[alignment].ranking" title="Nuggets"><span>DEN</span></abbr><!-- end ngIf: !carousel.teams[alignment].ranking -->
                 <!-- ngIf: carousel.teams[alignment].ranking -->
             </a>
         </span><!-- end ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' -->
    </td>
    <td class="record-score">
        124 <!--<span data-ng-if="carousel.match.state.shootout">({{carousel[alignment]['stats'][carousel.shootoutKey] || '0'}})</span>-->
    </td>
</tr><!-- end ngRepeat: alignment in carousel.alignments --><!-- ngInclude: 'team_renderer' --><tr data-ng-repeat="alignment in carousel.alignments" data-ng-include="'team_renderer'">
    <td class="teams club-logo-wrapper-medium" scope="row">
        <!-- ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo --><a data-ng-if="!vm.carousel.selectedLeague.hideTeamLogo &amp;&amp; carousel.teams[alignment].logo" href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="">
            <img data-ng-src="//images.sports.gracenote.com/basketball/nba/team/logos/60x60/404029.png" class="club-logo-medium" title="Phoenix Suns" alt="Phoenix Suns" src="index_data/404029.png">
        </a><!-- end ngIf: !vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo -->
        <!-- ngIf: carousel.teams.away.type == 'all-star' || carousel.teams.home.type == 'all-star' -->
        <!-- ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' --><span data-ng-if="carousel.teams.away.type != 'all-star' &amp;&amp; carousel.teams.home.type != 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click="" data-ng-style="!carousel.teams[alignment].teamLinkObject &amp;&amp; {'cursor':'default'}">
                 <!-- ngIf: !carousel.teams[alignment].ranking --><abbr data-ng-if="!carousel.teams[alignment].ranking" title="Suns"><span>PHO</span></abbr><!-- end ngIf: !carousel.teams[alignment].ranking -->
                 <!-- ngIf: carousel.teams[alignment].ranking -->
             </a>
         </span><!-- end ngIf: carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star' -->
    </td>
    <td class="record-score">
        129 <!--<span data-ng-if="carousel.match.state.shootout">({{carousel[alignment]['stats'][carousel.shootoutKey] || '0'}})</span>-->
    </td>
</tr><!-- end ngRepeat: alignment in carousel.alignments -->
                <tr>
                    <td colspan="2" class="game-links" scope="row">
                        <ul>
                            <!-- ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showBoxscoreLink --><li data-ng-if="carousel.sportId != '/sport/soccer' &amp;&amp; carousel.options.showBoxscoreLink"><a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.matchLinkObject, carousel.boxscoreLinkFormat, target)" data-custom-click="">Box Score</a></li><!-- end ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showBoxscoreLink -->
                            <!-- ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showRecapLink --><li data-ng-if="carousel.sportId != '/sport/soccer' &amp;&amp; carousel.options.showRecapLink"><a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.matchLinkObject, carousel.recapLinkFormat, target)" data-custom-click="">Recap</a></li><!-- end ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showRecapLink -->
                            <!-- ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showPlayByPlayLink --><li data-ng-if="carousel.sportId != '/sport/soccer' &amp;&amp; carousel.options.showPlayByPlayLink"><a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.matchLinkObject, carousel.playByPlayLinkFormat, target)" data-custom-click="">Play by Play</a></li><!-- end ngIf: carousel.sportId != '/sport/soccer' && carousel.options.showPlayByPlayLink -->
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="team_renderer">
    <td class="teams club-logo-wrapper-medium" scope="row">
        <a data-ng-if ="!vm.carousel.selectedLeague.hideTeamLogo && carousel.teams[alignment].logo" href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click>
            <img data-ng-src="{{carousel.teams[alignment].logo}}" class="club-logo-medium"
                 title="{{carousel.teamNames[alignment].name}} {{carousel.teamNames[alignment].nickname}}"
                 alt="{{carousel.teamNames[alignment].name}} {{carousel.teamNames[alignment].nickname}}">
        </a>
        <span data-ng-if="carousel.teams.away.type == 'all-star' || carousel.teams.home.type == 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click data-ng-style="!carousel.teams[alignment].teamLinkObject && {'cursor':'default'}">
                 <abbr data-ng-if="!carousel.teams[alignment].ranking" title="{{carousel.teamNames[alignment].name}}"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
                 <abbr data-ng-if="carousel.teams[alignment].ranking" title="{{carousel.teamNames[alignment].name}} ({{carousel.teams[alignment].ranking}})"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
             </a>
         </span>
        <span data-ng-if="carousel.teams.away.type != 'all-star' && carousel.teams.home.type != 'all-star'" class="name">
             <a href="javascript:void(0);" data-ng-click="vm.clickAction(carousel.teams[alignment].teamLinkObject , carousel.teamLinkFormat, target)" data-custom-click data-ng-style="!carousel.teams[alignment].teamLinkObject && {'cursor':'default'}">
                 <abbr data-ng-if="!carousel.teams[alignment].ranking" title="{{carousel.sportId == '/sport/soccer' ? carousel.teamNames[alignment].shortName : carousel.teamNames[alignment].nickname}}"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
                 <abbr data-ng-if="carousel.teams[alignment].ranking" title="{{carousel.sportId == '/sport/soccer' ? carousel.teamNames[alignment].shortName : carousel.teamNames[alignment].nickname}} ({{carousel.teams[alignment].ranking}})"><span>{{carousel.teamNames[alignment].shortName}}</span></abbr>
             </a>
         </span>
    </td>
    <td class="record-score">
        {{carousel.match[alignment + 'Result'] || '0'}} <!--<span data-ng-if="carousel.match.state.shootout">({{carousel[alignment]['stats'][carousel.shootoutKey] || '0'}})</span>-->
    </td>
</script>



</section>
</ng-include>
            </div><!-- end ngRepeat: carousel in vm.carousel.list[vm.carousel.selectedLeague.leagueShortName] | dailyGamesFilter -->
        </div>
    </div>

</div><!-- end ngIf: vm.carousel.orientation > 0 -->
</section><!-- end ngIf: !vm.loading -->
    </div><!-- end ngIf: vm.fullHeight === true -->
    <!-- ngIf: vm.brandedFooter -->
</div></ng:view>
</div>


<img src="index_data/pixel.gif"></body></html>