@charset "utf-8";
@import url("https://use.typekit.net/acq5ywo.css");

/* CSS Document */

td.game-links {
	display: table-cell;
	padding-left: 5px;
}

.scorebox-holder {
    height: 102px !important;
}

.carousel-ncaaf li[data-ng-if*="PlayLink"],
.carousel-ncaab li[data-ng-if*="PlayLink"] {
	display: none;
}

table td a:link, table td a:visited {
    /* pointer-events: none; */
}


.gns-container {
	min-width: 258px;
}

.vertical .team-info table tr td.record-score, 
.vertical .team-info table tr td.record {/* ok to make this auto if there's no cell lines */
	 width: auto; 
}

/* Show both school name and team name for college sports */

.ncaab .name abbr span,
.ncaaf .name abbr span {
    display: inline; 
    float: left;
    padding-right: 3px;
}

.ncaaf .name a:hover abbr span, 
.ncaab .name a:hover abbr span {
	/* border-bottom: 1px solid; */
	height: 22px;
}


li[data-ng-if*="Preview"] {
	/*display: none;*/
}

body {
	color: #2a2a2a;
	font-family: "proxima-nova",sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
    font-size: 13px;
	background-color: transparent;
}

table tr td, table tr td.record-score, table tr td.record {
	color: inherit;
	font-size: inherit;
}

.match-status,
.name,
.record-score {
	font-size: 13px;
	font-weight: normal;
}

.match-date,
.game-links {
	font-size: 12px;
}

.match-date {
	margin-top: 0;
}

a:link, a:visited {
    color: #2a2a2a;
	font-weight: normal;
    text-decoration: none;
}

.game-links a:link, .game-links a:visited {
    color: #2a2a2a;
}

a:hover, a:active,
.game-links a:hover, .game-links a:active {
    color: #c33;
    text-decoration: none;
}

.widget-wrapper {
}

.vertical {
    overflow: hidden;
}

.vertical .panel {
    height: 444px;
}

#vertical-panel-content > div:last-child section:after,
#vertical-panel-content > div:last-child table:after,
#vertical-panel-content > div:last-child .scorebox:after,
#vertical-panel-content > div:last-child .team-info:after {
    background-color: #fafafa;
    border: 0px solid #d5d5d5;
    content: "";
    display: block;
    height: 118px;
    left: 0;
    position: absolute;
    top: 126px;
    width: 100%;
	z-index: -1;
	display: none;
}

#vertical-panel-content > div:last-child section:after {
    top: 249px;
    display: none;
}

#vertical-panel-content > div:last-child .scorebox:after {
    top: 273px;
	display: none;
}

#vertical-panel-content > div:last-child .team-info:after {
    top: 365px;
    display: none;
}

#vertical-panel-content.mls > div:last-child section:after,
#vertical-panel-content.mls > div:last-child table:after,
#vertical-panel-content.mls > div:last-child .scorebox:after,
#vertical-panel-content.mls > div:last-child .team-info:after,
#vertical-panel-content.ohl > div:last-child section:after,
#vertical-panel-content.ohl > div:last-child table:after,
#vertical-panel-content.ohl > div:last-child .scorebox:after,
#vertical-panel-content.ohl > div:last-child .team-info:after {
    height: 97px;
    top: 98px;
    display: none;
}

#vertical-panel-content.mls > div:last-child section:after,
#vertical-panel-content.ohl > div:last-child section:after {
    top: 201px;
    display: none;
}

#vertical-panel-content.mls > div:last-child .scorebox:after,
#vertical-panel-content.ohl > div:last-child .scorebox:after {
    top: 304px;
	display: block;
    display: none;
}

.vertical .panel > div:last-child {
    margin-bottom: 30px;
	position: relative;
}

.carousel-whl a,
.carousel-qmjhl a,
.carousel-ohl a {
	pointer-events: none;
	color: inherit;
}

a abbr {
	cursor: inherit;
}

.name abbr:before {
    content: attr(title);
}

.name abbr span {
    display: none;
}

.header-title {
    display: none;
}

.scoreboard-date {
font-weight: bold;
text-transform: uppercase;
position: absolute;
top: 20px;
}

.scoreboard-date, .logo {
	display: none;
 }

.logo {
   /* position: absolute;*/
	right: 0px;
	/*bottom: 0;*/
}

.logo a {
	background: transparent url("https://assets.sports.gracenote.com/shared/images/powered-by-gn-wordmark-grey-169x18.png") no-repeat scroll 0 0;
	height: 16px;
	margin: 0 0 4px 0;
	width: 171px;
}

.scoreboard-menu {
    background-color: #fff;
    border-bottom: 2px solid #000;
	border-top: 0px solid #101010;
	display: table;
	font-size: 15px;
	margin-bottom: 4px;
    padding: 0;
	text-align: left;
	width: 100%;
}

@media (max-width: 290px) {

	.scoreboard-menu {
		font-size: 14px;
	}
	}
	

.scoreboard-menu ul {
	display: table-row;
}

.scoreboard-menu li {
	border-right: 1px solid rgba(255,255,255,.1);
	display: table-cell;
    padding: 0;
}

.scoreboard-menu li:only-of-type {
	display: none;
}

.scoreboard-menu li:last-child {
	border-right: 0 none;
}

.scoreboard-menu li a {
	border: 0 none;
	border-bottom: 0 none;
	border-radius: 0;
	color: #c33;
	cursor: pointer;
	display: block;
    font-family: futura-pt, sans-serif;
	font-weight: 600;
	font-style: normal;
	margin: 0;
	outline: 0 none;
	padding: 4px 2px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	opacity: 1;
	transition: opacity .3s ease;
}

.scoreboard-menu li a:not(.selected):hover {
	border: 0 none;
	text-decoration: none;
    opacity: 1;
    color: #2A2A2A;
}

.scoreboard-menu li:first-child a {
    border-left: inherit;
}

.scoreboard-menu li a.selected {
	color: #2A2A2A;
	font-weight: 600;
}

.vertical .carousel-holder {
    margin: 0;
	padding-top: 30px;
}

.scorebox-holder {
/*    border: 1px solid #d5d5d5;*/
	border: 0 none;
    height: 102px;
    margin-bottom: 3px;
}

table tr td {
    background-color: #ffffff;
    border: 0 none;
	padding: 1px 5px 1px 2px;
	/*pointer-events: none;*/
}

.team-info table tr td {
	height: 28px;
}

table tr td.club-logo-wrapper-medium {
    line-height: 28px;
}

table tr td.record-score, table tr td.record {
    background-color: #ffffff;
    font-weight: normal;
	line-height: 18px;
	padding-right: 5px;
    text-align: right;
    width: auto;
}

td.game-links {
	background-color: #e6e6e6;
	border-top: 1px solid #e3e3e7;
	height: 20px !important;
	/* display: none; */
}

.game-links li, .last-play li {
    margin-right: 7px;
}

img.club-logo-medium {
	border: 0 none;
	color: #eee;
	font-size: 10px;
	height: auto;
    width: 25px;
}

.sub-header-block {
	background-color: #2a2a2a;
	color: #fff;
	height: 18px;
	line-height: normal;
	padding: 2px 5px 0px 5px;
	overflow: hidden;
}

.name {
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "futura-pt",sans-serif;
}

.vertical .arrow-holder {
    height: 25px;
	top: auto;
}

.vertical .arrow-holder a {
	height: 25px;
	border: 0 none;
}

.vertical .arrow-holder a:hover {
    background-color: transparent;
}

.vertical .arrow-holder a:after {
    display: none;
}

.arrow-holder.previous, .arrow-holder.next {
	-webkit-border-radius: 3px;
	border-radius: 0px;
	background: #ccc;
	/*background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #e5e5e5 50%, #eee 100%);
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(229,229,229,1) 50%,rgba(238,238,238,1) 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%,#eee 50%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );*/
	height: 25px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	transition: all .3s ease;
}

.arrow-holder.previous:hover, .arrow-holder.next:hover {
	background: #aaa;
}

.arrow-holder span {
	background: none no-repeat 50% 5px transparent;
width: 100%;
height: 25px;
display: block;
}

.arrow-holder span a::before {
    border-color: transparent transparent #c33 transparent;
    border-style: solid;
    border-width: 6px 12px 12px 12px;
    content: "";
    display: inline-block;
    margin-top: 1px;
}

.arrow-holder:hover span {
	background: none no-repeat 50% 5px transparent;
}

.arrow-holder.next span {
	background: none no-repeat 50% 5px transparent;
}

.arrow-holder.next span a::before {
    border-color: #c33 transparent transparent transparent;
    border-width: 12px 12px 6px 12px;
    margin-top: 6px;
    vertical-align: sub;
}

.arrow-holder.next:hover span {
	background: none no-repeat 50% 5px transparent;
}